name: Build Any App

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: macos-14

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install XcodeGen
        run: brew install xcodegen

      - name: Generate Xcode Project
        run: xcodegen generate

      - name: Install Certificates
        env:
          BUILD_CERTIFICATE_BASE64: ${{ secrets.BUILD_CERTIFICATE_BASE64 }}
          P12_PASSWORD: ${{ secrets.P12_PASSWORD }}
          PROVISIONING_PROFILE_BASE64: ${{ secrets.PROVISIONING_PROFILE_BASE64 }}
        run: |
          # Create variables
          CERTIFICATE_PATH=$RUNNER_TEMP/build_certificate.p12
          PP_PATH=$RUNNER_TEMP/build_pp.mobileprovision
          KEYCHAIN_PATH=$RUNNER_TEMP/app-signing.keychain-db

          # Import certificate and provisioning profile from secrets
          echo -n "$BUILD_CERTIFICATE_BASE64" | base64 --decode -o $CERTIFICATE_PATH
          echo -n "$PROVISIONING_PROFILE_BASE64" | base64 --decode -o $PP_PATH

          # Create temporary keychain
          security create-keychain -p "" $KEYCHAIN_PATH
          security set-keychain-settings -lut 21600 $KEYCHAIN_PATH
          security unlock-keychain -p "" $KEYCHAIN_PATH

          # Import certificate to keychain
          security import $CERTIFICATE_PATH -P "$P12_PASSWORD" -A -t agg -k $KEYCHAIN_PATH
          security list-keychains -s $KEYCHAIN_PATH
          
          # Apply provisioning profile
          mkdir -p ~/Library/MobileDevice/Provisioning\ Profiles
          cp $PP_PATH ~/Library/MobileDevice/Provisioning\ Profiles

      - name: Build Archive (Generic)
        run: |
          # AUTOMATICALLY FIND THE PROJECT NAME
          PROJECT_NAME=$(ls -d *.xcodeproj | head -n 1)
          SCHEME_NAME=$(basename "$PROJECT_NAME" .xcodeproj)
          echo "Detected Project: $PROJECT_NAME with Scheme: $SCHEME_NAME"

          xcodebuild -project "$PROJECT_NAME" \
          -scheme "$SCHEME_NAME" \
          -sdk iphoneos \
          -configuration Release \
          -archivePath $PWD/build/App.xcarchive \
          clean archive \
          CODE_SIGN_IDENTITY="Apple Development" \
          CODE_SIGN_STYLE="Manual"

      - name: Export IPA
        run: |
          # Find the .app name inside the archive
          APP_PATH=$(find build/App.xcarchive/Products/Applications -name "*.app" | head -n 1)
          APP_NAME=$(basename "$APP_PATH" .app)
          
          mkdir Payload
          cp -r "$APP_PATH" Payload/
          zip -r "$APP_NAME.ipa" Payload

      - name: Upload IPA
        uses: actions/upload-artifact@v4
        with:
          name: App-Binary
          path: "*.ipa"
